* {
  box-sizing: border-box;
}

body {
  background: rgb(153, 153, 153);
}

.wrapper {
  width: 90%;

  margin-left: auto;
  margin-right: auto;

  margin-top: 45px;
  margin-bottom: 130px;

  /* outline: 1px solid; */
}

.fixed-header, .fixed-footer{
  width: 100%;
  /*          */
  background: #333;
  padding: 10px 0;
  color: #fff;
  display: flex;
  position: fixed;

  z-index: 2;

}

.fixed-header{
  top: 0;
}

.fixed-footer{
  bottom: 0;
}

